@model MVC.ViewModels.Accounts.LoginVM
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Logged in user</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @User.Identity.GetUserName()
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to home", "Index", "Home")
</p>
